<h1><%= ts('edit.ing.record', :what => ComplexScripts::Language.model_name.human.titleize) %></h1>
<%= error_messages_for :language %>
<%= form_for(:language, :url => complex_scripts_language_path(@language), :html => {:method => :put}) do |f| %>
<%=   render :partial => 'form', :locals => {:f => f} %>
      <p><%= globalized_submit_tag 'update.this' %></p>
<%  end %>
<p>&nbsp;<br/>
<%= render :partial => 'persistent_links' %>
</p>