<h1><%= ts 'list.ing.records', :what => ComplexScripts::Language.model_name.human(:count => :many).titleize %></h1>
<table border='1' class="normal">
   <tr>
     <th><%= ComplexScripts::Language.model_name.human.titleize.s %></th>
     <th><%= ComplexScripts::Language.human_attribute_name(:code).s %></th>
     <th><%= ComplexScripts::Language.human_attribute_name(:locale).s %></th>
	 <th><%= ts(:unicode_range) %></th>
     <th><%= ComplexScripts::Language.human_attribute_name(:use_for_interface).s %>?</th>
   </tr>
<% can_edit = authorized? hash_for_edit_language_path
   for language in @languages %>
   <tr>
     <td>
<%   if can_edit %>
<%=    link_to h(language.title), edit_language_path(language) %>
<%   else %>
<%=    link_to h(language.title), language_path(language) %>
<%   end %>
	 </td>
	 <td><%=h language.code %></td>
     <td><%=h language.locale %></td>
	 <td><%= "#{language.unicode_codepoint_start} - #{language.unicode_codepoint_end}" if !language.unicode_codepoint_start.nil? && !language.unicode_codepoint_end.nil? %></td>
     <td align="center"><%= 'X' if language.use_for_interface %></td>
   </tr>
<% end %>
</table>
<p>&nbsp;<br/>
<% if authorized? hash_for_new_language_path %>
<%=  link_to ts('new.record', :what => ComplexScripts::Language.model_name.human), new_language_path %> |
<% end %>
<%= link_to ts('back.to', :what => t('home.this')), root_path %>
</p>